:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);

  --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-very-light-gray: hsl(0, 0%, 95%);

  --font-size: 15px;
  --font-family-LexendDeca: "Lexend Deca";
  --font-family-BigShoulderDisplay: "Big Shoulders Display";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family-LexendDeca);
  font-size: var(--font-size);
  color: var(--clr-transparent-white);
}

button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
